<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="BybitWebSocketTest Suite">
    <test name="BybitWebSocketTest Test">
        <classes>
            <class name="testcase.Kline"/>
            <class name="testcase.RealTimes"/>
            <class name="testcase.Trade"/>
        </classes>
    </test>
</suite>